<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Intersight AsBuilt Generator</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-file-word"></i>
                </div>
                <div class="sidebar-brand-text mx-3">ABG</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="abg.html">
                    <i class="fas fa-fw fa-server"></i>
                    <span>iABG</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Intersight As Built Generator</h1>
                    </div>


                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <!-- Approach -->
                            <div class="card shadow mb-4">
                               <div class="card-header py-3">
                                   <h6 class="m-0 font-weight-bold text-primary">Enter the Intersight API Keys</h6>
                               </div>
                               <div class="card-body">
                                <form method="POST" class="post-form">{% csrf_token %}
                                    <div class="form-group">
                                    {{ form.as_p }}
                                    </div>
                                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-md"><i
                                        class="fas fa-code fa-md text-white-50"></i> Generate</a></button>
                                </form>
                                <p> Upon completion, your updated templates will be available for download from the right <i class="fas fa-arrow-circle-right"></i></p>
                                <p>
                                    Note: Generate and download your API keys for above fields from <a href="https://intersight.com/an/settings/api-keys"> Intersight.</a>
                                </p>
                               </div>
                               
                           </div>
                           </div>
                        <div class="col-lg-6 mb-4">
                         <!-- Approach -->
                         <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">About</h6>
                            </div>
                            <div class="card-body">
                                <p>Paste the <a href="https://intersight.com/an/settings/api-keys"> Intersight API keys.</a> in the fields on the left abd click Generate.</p>
                                <p class="mb-0">Word and Excel reports will be made available below for download and editing.  A topology diagram template in drawio format - edit it to suit.</p>
                                <p class="mb-0">This first version reports on running firmware, servers (rack and blade), hyperflex, physical and fc ports, service profiles and management connectivity.  Edit and update as required.</p>
                            </div>
                        </div>

                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Report Template Downloads</h6>
                            </div>
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                      <div class="col">
                                <div class="card" style="width: 12rem;">
                                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                    src="{% static 'img/word.PNG' %}" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">AsBuilt Word Document</h5>
                                      <p class="card-text">Click below to download the AsBuilt document in word report format:</p>
                                      <a href="http://127.0.0.1:8080/mediafiles/intersight-demo.docx" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                        class="fas fa-download fa-sm text-white-50"></i> Word Report</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card" style="width: 12rem;">
                                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                            src="{% static 'img/excel.PNG' %}" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">AsBuilt Excel Workbook</h5>
                                      <p class="card-text">Click below to download the Excel Workbook.</p>
                                      <a href="http://127.0.0.1:8080/mediafiles/intersight_output.xlsx" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                        class="fas fa-download fa-sm text-white-50"></i> Excel Workbook</a>
                                    </div>
                                  </div>
                                  </div>
                                  <div class="col">
                                  <div class="card" style="width: 12rem;">
                                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                            src="{% static 'img/is_diagram.PNG' %}" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Draw.io Diagram</h5>
                                      <p class="card-text">Click below to download the diagram.</p>
                                      <a href="http://127.0.0.1:8080/mediafiles/intersight.drawio" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                        class="fas fa-download fa-sm text-white-50"></i>DrawIO Template</a>
                                    </div>
                                  </div>
                                  </div>

                                  
                                </div>
                                </div>
                            </div>
                        </div>
                        </div>


                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <i class="fab fa-github-square"></i>
                        <span>View on <a href="https://github.com/j-sulliman/iabg"> GitHub.</a></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

   

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>